.rad {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
  padding-block: var(--ax-space-16);
}

.ukerad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid var(--ax-border-neutral-subtle);
  border-radius: 10px;
}

.ukeradmederror {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid var(--ax-border-neutral-subtle);
  border-left: 2px solid var(--ax-border-neutral-subtle);
  border-right: 2px solid var(--ax-border-neutral-subtle);
  border-radius: 8px 8px 0 0;
}

.tekst {
  display: flex;
  gap: var(--ax-space-8);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}

@media (max-width: 768px) {
  .ukerad {
    flex-direction: column;
    border: 2px solid var(--ax-neutral-300);
    border-radius: 15px;
  }

  .ukeradmederror {
    flex-direction: column;
    border-bottom: 2px solid var(--ax-border-neutral-subtle);
  }
}
