.rad {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  background-color: var(--a-gray-100);
  padding-block: var(--a-spacing-4);
}

.ukerad {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
  justify-items: center;
  padding: var(--a-spacing-2);
}

.dag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--a-gray-300);
  padding: var(--a-spacing-2);
}

.dag:last-child {
  border-bottom: none;
}

.tekst {
  display: grid;
  grid-template-columns: 70px 1fr; /*TODO Bedre måte å gjøre det på enn pixel?*/
  gap: var(--a-spacing-4);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

@media (max-width: 768px) {
  .rad {
    margin: 0 calc(50% - 50vw);
  }
}
