.oppsummeringkalender {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-6);
  background-color: var(--a-gray-100);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

.kalender {
  display: flex;
  width: 100%;
  padding: var(--a-spacing-8);
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.endremeldekortlink {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .fullBleed {
    margin: 0 calc(50% - 50vw);
    padding-inline: calc(50vw - 50%);
  }

  .kalender {
    padding: 0;
  }
}
