.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding: var(--a-spacing-5);
  border: 1px solid var(--a-gray-400);
  width: 100%;
  color: inherit;
}

.link:hover {
  box-shadow: var(--a-shadow-small);
  border-color: var(--a-border-action-hover);
  color: var(--a-text-action-hover);
}
