.form{
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-32);
}

.knapper {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--ax-space-16);
  justify-content: center;
}

.secondaryknapper {
  margin-top: var(--ax-space-8);
  display: flex;
  justify-content: center;
  gap: var(--ax-space-16);
}

.formfooter{
  border-top: 2px solid var(--ax-neutral-200);
  padding-top: var(--ax-space-8);
}

@media (max-width: 768px) {
  .knapper {
    flex-direction: column;
  }
}
