.confirmationpanel {
  padding: var(--ax-space-16);
  border-radius: var(--ax-radius-8);
}

.confirmationPanelNotChecked {
  border: 1px solid var(--ax-border-warning);
  background-color: var(--ax-bg-warning-moderate);
}

.confirmationPanelChecked {
  border: 1px solid var(--ax-border-success);
  background-color: var(--ax-bg-success-moderate);
}

.confirmationPanelError {
  border: 1px solid var(--ax-border-danger);
  background-color: var(--ax-bg-danger-moderate);
}

.icon {
  color: var(--ax-text-danger-subtle);
}

.tekst {
  color: var(--ax-text-danger-subtle);
  font-weight: bold;
}
