.confirmationpanel {
  padding: var(--ax-space-16);
  border-radius: var(--ax-radius-8);

  border: 1px solid var(--ax-border-warning);
  background-color: var(--ax-bg-warning-moderate);
}

.confirmationpanel:has(input:checked) {
  border-color: var(--ax-border-success);
  background-color: var(--ax-bg-success-moderate);
}

.confirmationPanelError {
  border-color: var(--ax-border-danger);
  background-color: var(--ax-bg-danger-moderate);
}

.icon {
  color: var(--ax-text-danger-subtle);
}

.tekst {
  color: var(--ax-text-danger-subtle);
  font-weight: bold;
}
