.linkbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: var(--a-spacing-5);
  border: 1px solid var(--a-gray-400);
  width: 100%;

  background-color: inherit;
  cursor: pointer;
  color: inherit;
}

.linkbutton:hover {
  box-shadow: var(--a-shadow-small);
  border-color: var(--a-border-action-hover);
  color: var(--a-text-action-hover);
}
