.status {
  background-color: var(--a-blue-100);
  border-radius: var(--a-border-radius-large);
  padding: var(--a-space-8);
}

.innsendt {
  background-color: var(--a-blue-100);
}

.feilet {
  background-color: var(--a-red-100);
}

.ferdig {
  background-color: var(--a-green-100);
}

.korrigert {
  background-color: var(--a-orange-100);
}
