.meldekortheader {
  margin: var(--ax-space-16) auto;
  border-bottom: 5px solid var(--ax-success-500);
}

.innhold {
  max-width: 768px;
  padding: var(--ax-space-16);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.meldekortcontainer {
  max-width: 768px;
  padding: var(--ax-space-16);
  margin: var(--ax-space-32) auto var(--ax-space-72);
}
