.input {
  width: 4ch;
}

.inpututenverdi {
  --ac-textfield-bg: var(--a-orange-100);
}

.inputmedverdi {
  --ac-textfield-bg: var(--a-blue-200);
}

.error {
  --ac-textfield-error-border: var(--a-red-500);
}
