.rad {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding-block: var(--a-spacing-4);
}

.ukerad {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.dagheading {
  display: flex;
  flex-direction: column;
}

.ikkeeksisterendefelt {
  background-color: var(--a-gray-50);
  opacity: 0.5;
}

.dag {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--a-gray-100);
  border-bottom: 2px solid var(--a-gray-100);
  border-right: 2px solid var(--a-gray-100);
  align-items: flex-start;
  padding: var(--a-spacing-4);
}

.dag:first-child {
  border-left: 2px solid var(--a-gray-100);
}

.tekst {
  display: flex;
  gap: var(--a-spacing-2);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.erutfylt {
  background-color: var(--a-blue-100);
}

.harFeilmelding {
  background-color: var(--a-red-100);
  border-bottom: none;
}

.tekstfeltFeilmelding {
  border: 2px solid var(--a-border-danger);
}

.error {
  padding: var(--a-spacing-2);
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
  align-items: center;
}

.errorIcon {
  color: var(--a-icon-danger);
}

@media (max-width: 768px) {
  .rad {
    margin: 0 calc(50% - 50vw);
    padding: 0 0.5rem;
  }

  .ukerad {
    flex-direction: column;
    border: 2px solid var(--a-gray-200);
    padding: 1rem 0;
    border-radius: 15px;
  }

  .dag {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }

  .dag:first-child {
    border-left: none;
  }

  .dag:last-child {
    /*border-bottom: none;*/
  }
}
