.rad {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding-block: var(--a-spacing-4);
}

.ukerad {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
  justify-items: center;
}

.dag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--a-orange-50);
  padding: var(--a-spacing-4);
  width: 100%;
}

.tekst {
  display: flex;
  gap: var(--a-spacing-2);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

.felter {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  padding: var(--a-spacing-2) 0 var(--a-spacing-2) var(--a-spacing-2);
}

.felterBlue {
  border-left: 10px solid var(--a-blue-300);
}

.felterGreen {
  border-left: 10px solid var(--a-green-300);
}

.felterYellow {
  border-left: 10px solid var(--a-orange-300);
}

.felterPurple {
  border-left: 10px solid var(--a-purple-300);
}

@media (max-width: 768px) {
  .rad {
    margin: 0 calc(50% - 50vw);
  }
}
