.link {
  text-decoration: none;
  border-radius: 10px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: var(--ax-space-24);
  border: 1px solid var(--ax-neutral-500);
}

.link:hover {
  box-shadow: var(--ax-shadow-dialog);
  border-color: var(--ax-border-accent);
  color: var(--ax-text-accent-subtle);
}

.icon {
  display: flex;
  justify-content: center;
  background-color: var(--ax-accent-200);
  padding: var(--ax-space-12);
  border-radius: 50%;
}
