.body {
  min-height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-16);
}

.navds-checkbox--error .navds-checkbox__label {
  --ac-radio-checkbox-action: var(--ax-danger-600);
  forced-color-adjust: none;
}
