.body {
  min-height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
}

.navds-checkbox--error .navds-checkbox__label {
  --ac-radio-checkbox-action: var(--a-red-500);
  forced-color-adjust: none;
}
