.body {
  min-height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-16);
}
