.rad {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--a-spacing-2);
  border-bottom: 1px solid var(--a-gray-300);
}

.dagnummer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--a-spacing-2);
  justify-content: space-between;
}

.timertekst {
  display: flex;
  flex-direction: row;
  padding-left: var(--a-spacing-2);
  padding-right: var(--a-spacing-2);
  gap: var(--a-spacing-12);
}

.harTimer {
  background-color: var(--a-blue-200);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
