.rapporteringskalender {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

.kalender {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: var(--a-gray-100);
}

.fullBleed {
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}
