.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: var(--a-spacing-4);
  border: 1px solid var(--a-gray-400);
  border-radius: 10px;
  width: 100%;
  color: inherit;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topright {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--a-spacing-1);
}

.link:hover {
  box-shadow: var(--a-shadow-small);
  border-color: var(--a-border-action-hover);
  color: var(--a-text-action-hover);
}
